.container{
    display: flex;               /* Use flexbox for centering */
    justify-content: center;     /* Center horizontally */
    align-items: center; 

}
.heading {
    font-weight: bold; /* Makes the font thicker */
    font-size: 300%;   /* Adjust the font size as needed */
    color: #0056b3;
}