.register {
    background-color: #1d4ed8;
    padding-top: 5%;
    padding-bottom: 7%;
}

.bluetext{
    color: #1d4ed8;
}
.button {
    background-color: #1d4ed8;
}

.button:hover{
    background-color: #315eda;
}
.button:disabled{
    background-color: #6e8de3;
}